:root {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
  }
  a {
    color: #4154f1;
    text-decoration: none;
  }
  
  a:hover {
    color: #717ff5;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
  }


  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 40px;
  }
  
  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
  }
  
  .section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
  }
  
  @media (max-width: 768px) {
    .section-header p {
      font-size: 28px;
      line-height: 32px;
    }
  }
  
  /*--------------------------------------------------------------
  # Breadcrumbs
  --------------------------------------------------------------*/
  .breadcrumbs {
    padding: 15px 0;
    background: #012970;
    min-height: 40px;
    margin-top: 82px;
    color: #fff;
  }
  
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 57px;
    }
  }
  
  .breadcrumbs h2 {
    font-size: 28px;
    font-weight: 500;
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
  }
  
  .breadcrumbs ol a {
    color: #fff;
    transition: 0.3s;
  }
  
  .breadcrumbs ol a:hover {
    text-decoration: underline;
  }
  
  .breadcrumbs ol li + li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li + li::before {
    display: inline-block;
    padding-right: 10px;
    color: #8894f6;
    content: "/";
  }
  
  /*--------------------------------------------------------------
  # Contact sticky Button
  --------------------------------------------------------------*/
  .icon-bar {
    position: fixed;
    top: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.5s ease;
    color: white;
    font-size: 20px;
    border-radius: 40%;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
 
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact .info-box {    
    padding: 30px;
  }
  

  .contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: #0318d3;
  }
  
  .contact .info-box h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .contact .php-email-form {
    padding: 30px;
    height: 100%;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
    margin-bottom: 24px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 100;
	border-color: #dc4a38;
   	border-width: 0 0 3px 0;
   	border-style: none none solid none;
   	box-shadow: none;
  }
  
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #012970;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
 


  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #dc4a38;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #012970;
  }

  /*--------------------------------------------------------------
  # Footer social media icons
  --------------------------------------------------------------*/

@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.whatsapp:before {
  background-color: #3cf;
}
.social-btns .btn.whatsapp .fa {
  color: #3cf;
}
.social-btns .btn.instagram:before {
  background-color: #dc4a38;
}
.social-btns .btn.instagram .fa {
  color: #dc4a38;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  transform: scale(1);
}
.social-btns {
  font-size: 0;
  text-align: center;
  position: center;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 35px;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
  align-items:center;
  border-color: #dc4a38;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}



  /*--------------------------------------------------------------
  # services
  --------------------------------------------------------------*/
.services{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;   
    font-family: sans-serif;
    background-color: #ffffff;
}
.services .container {
    width: 1000px;
    position: center;
    display: flex;
    justify-content: space-between;
}

.services .container .card {
    align-items: center;
    border-radius: 10px;
    border-color: #ffffff;
}

.services .container .card .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.7s;
    z-index: 1;
    
}
.services .container .card .face.face1 .content{
    display: flex;
}
.services .container .card .face.face1 .icon {
    padding-top: 40px;
   text-align: center;
   justify-content: center;
   align-items: center;
}


.services .container .card:nth-child(1) .icon {
    background: #e07768;
}

.services .container .card:nth-child(2) .icon {
    background: #6eadd4;
}

.services .container .card:nth-child(3) .icon {
    background: #4aada9;
}


.services .container .card .icon .fa {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: rgb(250, 7, 7);
    
}

.services .container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.services .container .card .face.face1 {
    position: relative;
    background: rgb(105, 97, 97);
    z-index: 1;
    transform: translateY(100px);
    
}

.services .container .card:hover .face.face1{
    background: #ad7b8c;
    transform: translateY(0px);
}

.services .container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}
.services .container .card:hover .face.face1 .content {
    opacity: 1;
}


.services .container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.services .container .card:hover .face.face2{
    transform: translateY(0);
}

.services .container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}

.services .container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    text-align: center;
    color: #414141;
} 

.services .container a {
    text-decoration: none;
    color: #8b2626;
}
/*----------------------------------------------------------------------------------------------------------
                        Main Hero section
---------------------------------------------------------------------------------------------------------*/
.hero {
    width: 100%;
    height: 100vh;
    background: url(./images/hero-bg.png) top center no-repeat;
    background-size: cover;
  }
  
  .hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #012970;
  }
  
  .hero h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
  }
.hero .btn-get {
    width: fit-content;
}
  
  .hero .btn-get-started {
    margin-top: 20px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #012970;
    box-shadow: 0px 5px 30px rgba(240, 111, 111, 0.4);
    overflow: hidden;
  }

  .hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  .hero .hero-img {
    text-align: right;
  }
  
  @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 991px) {
    .hero {
      height: auto;
      padding: 120px 0 60px 0;
    }
    .hero .hero-img {
      text-align: center;
      margin-top: 80px;
    }
    .hero .hero-img img {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      text-align: center;
    }
    .hero h1 {
      font-size: 32px;
    }
    .hero h2 {
      font-size: 24px;
    }
    .hero .hero-img img {
      width: 100%;
    }
  }

/*----------------------------------------------------------------------------------------------------------
                        Hero-img section ( person typing on computer)
---------------------------------------------------------------------------------------------------------*/

#avatar{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
}

#keyboard{
    
    width:100%;
    height:100%;
    color:black;
    font-weight:bold;
    animation: myanimation 10s infinite;
}
  @keyframes myanimation {
    0% {fill: red;}
    25%{fill:yellow;}
    50%{fill:rgb(243, 85, 11);}
    75%{fill:rgb(50, 190, 255);}
    100% {fill: red;}
  }
  
#typings {
    
    width:100%;
    height:100%;
    color:black;
    font-weight:bold;
    animation: myanimation2 10s infinite;
}

#typings path:nth-child(1){
    animation: myanimation2 10s infinite;
}

#typings path:nth-child(2){
    animation: myanimation2 10s infinite;
}

#typings path:nth-child(3){
    animation: myanimation2 10s infinite;
}

#typings path:nth-child(4){
    animation: myanimation2 10s infinite;
}

#typings path:nth-child(5){
    animation: myanimation2 10s infinite;
}

#typings path:nth-child(6){
    animation: myanimation2 10s infinite;
}

#typings path:nth-child(7){
    animation: myanimation2 10s infinite;
}

@keyframes myanimation2 {
    0% {fill: yellow;}
    25%{fill:red;}
    50%{fill:rgb(3, 188, 245);}
    75%{fill:rgb(219, 1, 1);}
    100% {fill: rgb(195, 255, 100);}
  }
/*-------------------------------------------------------------------------------------------------*/

#typings-2 :not(#path1580){
    
    width:100%;
    height:100%;
    color:black;
    font-weight:bold;
    animation: myanimation3 10s infinite;
}


#typings-2 path:nth-child(1) :not(#path1580){
    animation: myanimation3 10s infinite;
}


@keyframes myanimation3 {
    0% {fill: red;}
    25%{fill:yellow;}
    50%{fill:rgb(73, 197, 73);}
    75%{fill:rgb(175, 79, 79);}
    100% {fill: rgb(21, 183, 233);}
  }
/*-------------------------------------------------------------------------------------------------*/

#upper-body *{
    animation: body 2s ease infinite alternate;
    transform-origin: bottom;
    transform-box: content-box;
}

#lower-body  *{
    animation: body 2s ease infinite alternate;
    transform-origin: bottom;
    transform-box: content-box;
}
@keyframes body {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(1deg);
    }
}

#right-hand  *{
    animation: right-hand 1s ease-in-out alternate infinite;
    transform-origin: top;
    transform-box: content-box;
}
@keyframes right-hand {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(10deg);
    }
}


/*-----------------------------------------------------------------------------------------------------------
                    Hero font section (copany name animation)
----------------------------------------------------------------------------------------------------------*/

#logo{
    animation: fill 0.5s ease forwards 4.0s;
    display: flex;
    justify-content: start;
    width: auto;
    height: auto;
  }
  
  #logo path:nth-child(1){
    stroke-dasharray: 1143px;
    stroke-dashoffset: 1143px;
    animation: line-anim 2s ease forwards;
  }
  
  #logo path:nth-child(2){
    stroke-dasharray: 899;
    stroke-dashoffset: 899;
    animation: line-anim 2s ease forwards 0.6s;
  }
  
  #logo path:nth-child(3){
    stroke-dasharray: 636px;
    stroke-dashoffset: 636px;
    animation: line-anim 2s ease forwards 1.0s;
  }
  
  #logo path:nth-child(4){
    stroke-dasharray: 951px;
    stroke-dashoffset: 951px;
    animation: line-anim 2s ease forwards 1.4s;
  }
  
  #logo path:nth-child(5){
    stroke-dasharray: 968px;
    stroke-dashoffset: 968px;
    animation: line-anim 2s ease forwards 1.8s;
  }
  
  #logo path:nth-child(6){
    stroke-dasharray: 1098px;
    stroke-dashoffset: 1098px;
    animation: line-anim 2s ease forwards 2.2s ;
  }
  
  #logo path:nth-child(7){
    stroke-dasharray: 1098px;
    stroke-dashoffset: 1098px;
    animation: line-anim 2s ease forwards 2.6s ;
  }

  
  @keyframes line-anim{
    to {
        stroke-dashoffset: 0;
    }
  }
  
  @keyframes fill{
    from {
        fill:transparent;
    }
    to {
        fill: none ;
        animation: line-anim;
    }
  }
  

  /*-------------------------------------------------------------------------------------------------------
                                      Navbar
  -------------------------------------------------------------------------------------------------------*/
  @import url("https://fonts.googleapis.com/css?family=Merriweather:900&display=swap");
  .Navbar {
    --color-primary: #dc4a38;
    --color-secondary: #F0F7EE;
    --duration: 1.5s;
    --nav-duration: calc(var(--duration) / 4);
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --space: 1rem;
    --font-primary: "Helvetica", sans-serif;
    --font-heading: "Merriweather", serif;
    --font-size: 1.125rem;
    --line-height: 1.5;
    position: absolute;
    z-index: 2;
  }
  
  .main-navigation-toggle {
    position: fixed;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
  }
  .main-navigation-toggle + label {
    position: fixed;
    top: calc(var(--space) * 1.5);
    right: calc(var(--space) * 2);
    cursor: pointer;
    z-index: 2;
  }
  
  .icon--menu-toggle {
    --size: calc(1rem + 4vmin);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    stroke-width: 6;
  }
  
  .icon-group {
    transform: translateX(0);
    transition: transform var(--nav-duration) var(--ease);
  }
  
  .icon--menu {
    stroke: var(--color-primary);
  }
  
  .icon--close {
    stroke: var(--color-secondary);
    transform: translateX(-100%);
  }
  
  .main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform var(--nav-duration);
    z-index: 1;
  }
  .main-navigation:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    transform-origin: 0 50%;
    z-index: -1;
  }
  .main-navigation ul {
    font-size: 5vmin;
    font-family: var(--font-heading);
    width: 100%;
  }
  .main-navigation li {
    --border-size: 1vmin;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  .main-navigation li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--border-size);
    background-color: var(--color-secondary);
    transform-origin: 0 50%;
    transform: translateX(-100%) skew(15deg);
  }
  .main-navigation a {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--color-secondary);
    line-height: 1;
    text-decoration: none;
    user-select: none;
    padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
    transform: translateY(100%);
  }
  
  .main-navigation a:hover{
    color: #012970;
  }

  .main-content {
    margin: 6rem auto;
    max-width: 70ch;
    padding: 0 calc(var(--space) * 2);
    transform: translateX(0);
    transition: transform calc(var(--nav-duration) * 2) var(--ease);
  }
  .main-content > * + * {
    margin-top: calc(var(--space) * var(--line-height));
  }
  
  .main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
    transform: translateX(100%);
  }
  .main-navigation-toggle:checked ~ .main-content {
    transform: translateX(10%);
  }
  .main-navigation-toggle:checked ~ .main-navigation {
    transition-duration: 0s;
    transform: translateX(0);
  }
  .main-navigation-toggle:checked ~ .main-navigation:after {
    animation: nav-bg var(--nav-duration) var(--ease) forwards;
  }
  .main-navigation-toggle:checked ~ .main-navigation li:after {
    animation: nav-line var(--duration) var(--ease) forwards;
  }
  .main-navigation-toggle:checked ~ .main-navigation a {
    animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(1) a {
    animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(2) a {
    animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(3) a {
    animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
  }
  .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4):after, .main-navigation-toggle:checked ~ .main-navigation li:nth-child(4) a {
    animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
  }
  
  @keyframes nav-bg {
    from {
      transform: translateX(-100%) skewX(-15deg);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes nav-line {
    0% {
      transform: scaleX(0);
      transform-origin: 0 50%;
    }
    35% {
      transform: scaleX(1.001);
      transform-origin: 0 50%;
    }
    65% {
      transform: scaleX(1.001);
      transform-origin: 100% 50%;
    }
    100% {
      transform: scaleX(0);
      transform-origin: 100% 50%;
    }
  }
  @keyframes link-appear {
    0%, 25% {
      transform: translateY(100%);
    }
    50%, 100% {
      transform: translateY(0);
    }
  }